.grid-bagel {
    float: left;
}

.button-format {
    height: 150px;
    width: 100%;
    border-radius: 5px;
    padding: 50px;
    font-size: 30px;
    text-align: left;
    border-width: 10px;
    border-color: #6b3a0b;
    color: #6b3a0b;
}
