.grid-bagel {
    float: left;
}

.button-format {
    height: 150px;
    width: 100%;
    border-radius: 40px;
    padding: 50px;
    font-size: 30px;
    text-align: left;
    border: solid;
    border-width: 2px;
    border-color: white;
    background-color: #6b3a0b;
    color: white;
}

.button-format:hover {
    background-color: lightgray !important;
}

.logo {
    width: 100px;
    height: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.label-format {
    font-size:40px; 
    font-weight:bold; 
    color:white; 
    padding-top: 30px; 
    padding-bottom: 30px; 
    text-align:center;
}

.col-format {
    padding-right:35px; 
    padding-left:35px;
    padding-bottom: 35px;
}