<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bagel Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 text-center *ngIf="selectedItem">
  <img src={{selectedItem.imageLocation}} />
  {{selectedItem.name}} Bagel
  </h2>
  <h3 text-center *ngIf="selectedItem">
    Price: ${{selectedItem.price}}
  </h3>
  <h4 text-center *ngIf="selectedItem">
    {{selectedItem.description}}
  </h4>
</ion-content>
<ion-footer style="text-align:center">
    <button ion-button (click)="addToCart()">Add To Cart</button>
</ion-footer>
