<ion-header>
  <ion-navbar>
    <ion-title>Payment</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class="grid-bagel">
    <ion-row>
      <ion-col>
        <button *ngIf="isCard" ion-button block large (click)="toggleCard()">
          <ion-icon name="card"></ion-icon> Credit Card
        </button>
        <button *ngIf="!isCard" ion-button block large style="opacity: .3" (click)="toggleCard()">
          <ion-icon name="card"></ion-icon> Credit Card
        </button>
      </ion-col>
      <ion-col>
        <button *ngIf="!isCard" ion-button block large (click)="toggleCard()">PayPal</button>
        <button *ngIf="isCard" ion-button block large style="opacity: .3" (click)="toggleCard()">PayPal</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="isCard; else elseBlock">
    <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Name on the card</ion-label>
        <ion-input formControlName="cardName"type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>Card Number</ion-label>
        <ion-input formControlName="cardNumber" type="tel" autocomplete="cc-number" id="cc-number" ccNum>></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>MM/YYYY</ion-label>
        <ion-input formControlName="cardExpDate" type="tel" type="tel" autocomplete="cc-exp" id="cc-exp" ccExp></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>CVC</ion-label>
        <ion-input formControlName="cardCvv" type="tel" type="tel" autocomplete="cc-cvc" id="cc-csc" ccCvc></ion-input>
      </ion-item>

    </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer style="text-align:center">
  <button ion-button (click)="gotoHome()">
    Return to Home
  </button>
</ion-footer>

<ng-template #elseBlock>
  <a ion-button href="https://www.paypal.com/us/webapps/mpp/pay-online" target="_blank">Launch PayPal!</a>
</ng-template>