button:active{
    border-color:black;
    border-radius: 4px;
}

button:focus{
    border-color:black;
    border-radius: 4px;
}

.button-color {
    background-color: #6b3a0b;
}

.button-color:hover {
    background-color: gray !important;
}
