.cart-label {
    font-size:45px; 
    font-weight:bold; 
    padding-left:50px;
}

.clear-format {
    width:120px;
    height:35px;
    background-color: #6b3a0b;
    border-radius: 40px;
}

.clear-format:hover {
    background-color: lightgray !important;
}

.grid-cart {
    float: left;
}

.col-format {
    padding-right:35px; 
    padding-left:35px;
    padding-bottom: 30px;
}

.row-format:hover {
    cursor:pointer;
    background-color: lightgray !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.tip-button {
    background-color: #6b3a0b;
    border-radius: 40px;
}

.tip-button:hover {
    background-color: lightgray !important;
}

.checkout-button {
    width:120px;
    height:45px;
    background-color: #6b3a0b;
    border-radius: 40px;
}

.checkout-button:hover {
    background-color: lightgray !important;
}