.cart-label {
    font-size:45px; 
    font-weight:bold; 
    padding-left:50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}